html, body {
  @apply .font-sans;
  font-size: 18px;
}

a {
  transition: 0.3s;
}

#whoops, #yay {
  display: none;
}

p, ul {
  @apply .leading-normal;
  @apply .mb-4
}

h1 {
  @apply .mb-6;
  @apply .text-blue-dark;
}

h2 {
  @apply .mb-4;
  @apply .text-blue-dark;
}

.sidebar {
  @apply .w-full;
  @apply .bg-white;
  @apply .shadow ;
  @apply .p-4;
}

.content {
  @apply .w-full;
  @apply .bg-white;
  @apply .shadow ;
  @apply .px-8;
  @apply .py-4;
  @apply .mr-4;
}

@media (min-width: 992px) {
  .sidebar {
    @apply .w-1/4;
  }
  .content {
    @apply .w-3/4;
  }
}
